{{ if ne .Params.share false}}
<span style="float: right;">
    <div id="fb-root" style="height: 100%;"></div>
    {{ if eq .Site.LanguageCode "ja" }}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2"></script>
    {{ else }}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    {{ end }}
    <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="button_count" data-size="small">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="fb-xfbml-parse-ignore">Share</a>
    </div>
    &nbsp; 
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{ .Title }}" data-url="{{ .Permalink }}" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    &nbsp;
    {{ if eq .Site.LanguageCode "ja" }}
    <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-counter">
        <img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" width="20" height="20" style="border: none;" />
    </a>
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    {{ end }}
</span>
{{ end }}
